<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <title>Ansible-101</title>
</head>

<body>
    <h1> Ansible </h1>
    <p> Intro to Ansible - "{{ ansible_distribution }}" Distribution</p>

</body>

</html>
